.profile-card{
    width: 300px;
    height: 100%;
    /*padding:15px;*/
    border:none;
    cursor: pointer;
    transition: all 0.5s;
}

.round-image{
    width: 100px;
    height: 100px;
    border: 2px solid rgba(164, 163, 163, 0.75);
    /*border: 2px solid red;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-card-content{

    font-size: 13px;
}

.follow-button{
    border-radius: 25px;
    padding-right: 19px;
    padding-left: 19px;
    height: 42px;
    font-size: 13px;
    width: 130px;
    background-color: #8787d7
}
.follow-button:hover{

    background-color: #6753c7;
}
/*
.profile-card:hover{
    !*box-shadow: -10px 5px 30px rgba(51, 51, 51, .1);*!
    box-shadow: -10px 7px 17px rgba(51, 51, 51, .1);
}*/

.hide-profile-card{
    display: none;
}